body {
    font-family: 'Arial', sans-serif;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="range"] {
    width: calc(100% - 12px);
}

.container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.center {
  text-align: center;
}

@media only screen and (max-width: 600px) {
    .container {
        padding: 10px;
    }

    input {
        margin-bottom: 10px;
    }
}
